{
  "root": true,
  "ignorePatterns": [
    "/packages/core/src/",
    "/packages/core/bld/",
    "/packages/core/.bld-cache/",
    "/packages/alipay/src/",
    "/packages/alipay/bld/",
    "/packages/alipay/.bld-cache/",
    "/packages/wechat/src/",
    "/packages/wechat/bld/",
    "/packages/wechat/.bld-cache/",
    "/packages/apple/src/",
    "/packages/apple/bld/",
    "/packages/apple/.bld-cache/",
    "/packages/demo/src/",
    "/packages/demo/bld/"
  ],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  }
}
